@model PersonViewModel
@{
    ViewData["Title"] = "Data";
}

<div class="container">
    <ul>
        <li>@Model.FirstName</li>
        <li>@Model.LastName</li>
        <li>@Model.EmailAddress</li>
        <li>@Model.Country</li>
        <li>@Model.City</li>
        <li>@Model.PhoneNumber</li>
    </ul>
</div>
